<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gestionacademicamovil.GAM"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application        
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:name=".GAMApplication">
        
        <activity android:name=".Login"
                  android:label="@string/app_name"
                  >
            	<intent-filter>
                	<action android:name="android.intent.action.MAIN" />
                	<category android:name="android.intent.category.LAUNCHER" />
            	</intent-filter>
        </activity>
        
        <activity android:name=".About"></activity>
        <activity android:name=".AjustesActivity"></activity>
		<activity android:name=".AsignaturasActivity1"></activity>
		<activity android:name=".AsignaturasActivity2"></activity>
		<activity android:name=".AsignaturasActivity"></activity>
        <activity android:name=".BecasActivity"></activity>
        <activity android:name=".ConvalidacionesActivity"></activity>
        <activity android:name=".GAMActivity"></activity>
        <activity android:name=".HorariosActivity"></activity>
        <activity android:name=".ListaActivity"></activity>
        <activity android:name=".MatriculaActivity"></activity>
 		<activity android:name=".NotasActivity"></activity>
 		<activity android:name=".Primero"></activity>
 		<activity android:name=".Segundo"></activity>
 		<activity android:name=".TrasladosActivity"></activity>
 		<activity android:name=".VerPDFBecasActivity"/>
        <activity android:name=".VerPDFTrasladosActivity"/>
        <activity android:name=".VerPDFAsignaturasActivity"/>
        <activity android:name=".VerPDFConvalidacionesActivity"/>
        <activity android:name=".VerPDFNotasActivity"/>

 		
        
    </application>

</manifest>